.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
    gap: 5rem;
}
.w-left{
    display: flex;
    justify-content:flex-end;
    position: relative;
    flex: 1;
}
.c-right{
    display: flex;
    justify-content:flex-start;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem!important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width : 480px){
    .contact-form{
        flex-direction: column;
        height: 40rem;
        padding: 0;
        gap: 10px;
        margin: 0;
        margin-bottom: 10rem;
        margin-left: 2rem;
    } 

    .w-left{
        display: flex;
        margin-bottom: 0;
        flex-direction: column;
    }
    .c-right{
      display: flex;  
      align-items: flex-start;
      justify-content: flex-start;
      transform: scale(0.8);
      left: -1.5rem;
    }
  }