.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: 5rem;
}

.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 8rem;
    gap: 3rem;
    color: white;
}

.f-icons{
    display: flex;
    gap: 2rem;
    margin-top: -2rem;
}


@media screen and (max-width : 480px){
    .f-content{
        flex-direction: column;
        align-items: center;
        margin-top: 12rem;
        gap: 1.5rem;
    }

    .f-icons{
        width: 8rem;
    
    }

    .f-content span{
        font-size: small;
    }

  }